# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Intermediate files
workspace/
data/
examples/JobOrder.1.xml
examples/JobOrder.2.xml

# Build artefacts
*.tgz
*.tar
build/
dist/
procsim.egg-info/

# Virtual environments
venv/
env/

# IDE configurations
.vscode/

# Test files
examples_flex/AUX_output
examples_flex/RAW_output
examples_flex/bck*
examples_flex/tmp*
