# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Intermediate files
workspace/
data/

# IDE stuff
.idea/
.vscode/
.env

# Build artefacts
*.tgz
build/
dist/
procsim.egg-info/