# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Intermediate files
workspace/
data/
examples/JobOrder.1.xml
examples/JobOrder.2.xml

# Build artefacts
*.tgz
*.tar
build/
dist/
procsim.egg-info/